{% if page.reviewArchive %}

  <h3>Previous application build tests</h3>
  <table class="previous-build-test-results truncated" id="resultsArchive">
    {% assign total = 0 %}
    {% assign good = 0 %}
    <!-- <tr>
      <th>Date</th>
      <th>Version</th>
      <th>Verdict</th>
    </tr> -->
    {% for review in page.reviewArchive %}
    {% if review.verdict == "reproducible" %}
    {% assign good = good | plus:1 %}
    {% endif %}
    {% assign total = total | plus:1 %}
    <tr>
      <td><a
          href="https://gitlab.com/walletscrutiny/walletScrutinyCom/blob/{{ review.gitRevision }}/_{{ page.collection }}/{{ page.appId }}.md">{{ review.date | date_to_long_string: "ordinal" }}</a></td>
      <td>{{ review.version }}</td>
      <td>{% include verdictBadge.html verdict=review.verdict type='medium' noHash='true' %}</td>
    </tr>
    {% endfor %}
  </table>

  {% if total >= 3 %}
    <a href="#resultsArchive" onclick="document.querySelector('.previous-build-test-results').classList.remove('truncated');this.style.display='none';">Show more</a>
  {% endif %}
{% endif %}
